* {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead {
  margin-block: 2rem;
  margin-inline: auto;
  max-inline-size: 70vw;
  display: flex;
  justify-content: center;
}

.masthead h1 {
  font-size: 400%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-buffer {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 22rem;
  height: 22rem;
  border: 1rem solid black;
}
