:root {
  --max-width: 70vw;
  --whitespace: 2rem;
  --hue: 0;
  --saturation: 100;
  --lightness: 50;
  --alpha: 1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead {
  margin-block: var(--whitespace);
  margin-inline: auto;
  max-inline-size: var(--max-width, 70vw);
  display: flex;
  justify-content: center;
}

.masthead h1 {
  font-size: 4rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-swatch {
  width: 100%;
  max-width: 60rem;
  margin-block-end: 1rem;
  padding: 4rem 2rem;
  border: 1px solid black;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  background-color: hsla(
    var(--hue),
    calc(var(--saturation) * 1%),
    calc(var(--lightness) * 1%),
    var(--alpha)
  );
}

.controls {
  width: 100%;
  max-width: 40rem;
}

.controls > div {
  margin-block-end: 2rem;
}

.reference {
  margin-inline: 0.25rem;
  margin-block-end: 1rem;
  border: 1px solid black;
  height: 1rem;
}

.controls label {
  margin-block-end: 1rem;
  display: block;
}

.controls input {
  display: block;
  width: 100%;
}

.hue .reference {
  background: linear-gradient(
    90deg,
    hsl(0, 100%, 50%) 0%,
    hsl(36, 100%, 50%) 10%,
    hsl(64, 74%, 50%) 20%,
    hsl(118, 68%, 58%) 30%,
    hsl(179, 68%, 55%) 40%,
    hsl(188, 76%, 54%) 50%,
    hsl(212, 86%, 52%) 60%,
    hsl(260, 89%, 52%) 70%,
    hsl(284, 94%, 51%) 80%,
    hsl(308, 97%, 51%) 90%,
    hsl(0, 100%, 50%) 100%
  );
}

.saturation .reference {
  background: linear-gradient(
    90deg,
    hsl(var(--hue), 0%, 50%) 0%,
    hsl(var(--hue), 100%, 50%) 100%
  );
}

.lightness .reference {
  background: linear-gradient(
    90deg,
    hsl(var(--hue), 100%, 0%) 0%,
    hsl(var(--hue), 100%, 100%) 100%
  );
}

.alpha .reference {
  background: linear-gradient(
    90deg,
    hsla(var(--hue), 100%, 50%, 0) 0%,
    hsla(var(--hue), 100%, 50%, 1) 100%
  );
}
